In [2]:
import matplotlib.pyplot as plt

In [3]:
import numpy as np
import pandas as pd

In [35]:
import tensorflow as tf

In [36]:
from tensorflow import keras

In [4]:
df = pd.read_csv("Churn.csv")

In [5]:
df.sample(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
776,9505-SQFSW,Female,0,Yes,Yes,3,No,No phone service,DSL,No,...,No,No,No,Yes,Month-to-month,No,Mailed check,40.30,92.5,No
6086,0916-KNFAJ,Male,0,Yes,No,61,Yes,Yes,DSL,Yes,...,Yes,No,No,Yes,Two year,Yes,Mailed check,69.90,4226.7,No
2568,2266-FUBDZ,Male,0,Yes,Yes,15,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.35,278.85,No
6603,2257-BOVXD,Male,0,Yes,No,14,Yes,Yes,DSL,No,...,No,Yes,Yes,No,Month-to-month,Yes,Credit card (automatic),66.60,979.5,No
1341,9269-CQOOL,Male,0,No,Yes,3,Yes,No,DSL,No,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),54.70,169.45,Yes

In [11]:
df.drop('customerID', axis = 1,  inplace = True)

In [12]:
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [17]:
df1  =df[df.TotalCharges != " "]

In [18]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [21]:
df1.TotalCharges = pd.to_numeric(df1.TotalCharges)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [22]:
df1.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [29]:
def printUnique(df):
  for column in df:
    if df[column].dtype == "object":
      print(f'{column}:' ,df[column].unique())

In [30]:
printUnique(df1)

gender: ['Female' 'Male']
Partner: ['Yes' 'No']
Dependents: ['No' 'Yes']
PhoneService: ['No' 'Yes']
MultipleLines: ['No phone service' 'No' 'Yes']
InternetService: ['DSL' 'Fiber optic' 'No']
OnlineSecurity: ['No' 'Yes' 'No internet service']
OnlineBackup: ['Yes' 'No' 'No internet service']
DeviceProtection: ['No' 'Yes' 'No internet service']
TechSupport: ['No' 'Yes' 'No internet service']
StreamingTV: ['No' 'Yes' 'No internet service']
StreamingMovies: ['No' 'Yes' 'No internet service']
Contract: ['Month-to-month' 'One year' 'Two year']
PaperlessBilling: ['Yes' 'No']
PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn: ['No' 'Yes']

In [33]:
df1.replace("No internet service","No", inplace = True)
df1.replace("No phone service","No", inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [34]:
df1

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,Female,0,Yes,Yes,11,No,No,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [38]:

df1.replace({"Female":1, "Male":0}, inplace  = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [40]:
df1.replace({"Yes":1, "No":0}, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [44]:
df1.dtypes

gender                int64
SeniorCitizen         int64
Partner               int64
Dependents            int64
tenure                int64
PhoneService          int64
MultipleLines         int64
InternetService      object
OnlineSecurity        int64
OnlineBackup          int64
DeviceProtection      int64
TechSupport           int64
StreamingTV           int64
StreamingMovies       int64
Contract             object
PaperlessBilling      int64
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                 int64
dtype: object

In [51]:
df2 = pd.get_dummies(data = df1, columns =["InternetService","Contract","PaymentMethod"])

In [52]:
df2.dtypes

gender                                       int64
SeniorCitizen                                int64
Partner                                      int64
Dependents                                   int64
tenure                                       int64
PhoneService                                 int64
MultipleLines                                int64
OnlineSecurity                               int64
OnlineBackup                                 int64
DeviceProtection                             int64
TechSupport                                  int64
StreamingTV                                  int64
StreamingMovies                              int64
PaperlessBilling                             int64
MonthlyCharges                             float64
TotalCharges                               float64
Churn                                        int64
InternetService_0                            uint8
InternetService_DSL                          uint8
InternetService_Fiber optic                  uint8
Contract_Month-to-month                      uint8
Contract_One year                            uint8
Contract_Two year                            uint8
PaymentMethod_Bank transfer (automatic)      uint8
PaymentMethod_Credit card (automatic)        uint8
PaymentMethod_Electronic check               uint8
PaymentMethod_Mailed check                   uint8
dtype: object

In [53]:
df2

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_0,InternetService_DSL,InternetService_Fiber optic,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,0,1,0,1,0,0,0,1,0,...,0,1,0,1,0,0,0,0,1,0
1,0,0,0,0,34,1,0,1,0,1,...,0,1,0,0,1,0,0,0,0,1
2,0,0,0,0,2,1,0,1,1,0,...,0,1,0,1,0,0,0,0,0,1
3,0,0,0,0,45,0,0,1,0,1,...,0,1,0,0,1,0,1,0,0,0
4,1,0,0,0,2,1,0,0,0,0,...,0,0,1,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,0,1,1,24,1,1,1,0,1,...,0,1,0,0,1,0,0,0,0,1
7039,1,0,1,1,72,1,1,0,1,1,...,0,0,1,0,1,0,0,1,0,0
7040,1,0,1,1,11,0,0,1,0,0,...,0,1,0,1,0,0,0,0,1,0
7041,0,1,1,0,4,1,1,0,0,0,...,0,0,1,1,0,0,0,0,0,1
7042,0,0,0,0,66,1,0,1,0,1,...,0,0,1,0,0,1,1,0,0,0

In [56]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
cols_to_scale = ["tenure", "MonthlyCharges", "TotalCharges"]
df2[cols_to_scale] = scaler.fit_transform(df2[cols_to_scale])

In [57]:
df2

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_0,InternetService_DSL,InternetService_Fiber optic,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,0,1,0,0.000000,0,0,0,1,0,...,0,1,0,1,0,0,0,0,1,0
1,0,0,0,0,0.464789,1,0,1,0,1,...,0,1,0,0,1,0,0,0,0,1
2,0,0,0,0,0.014085,1,0,1,1,0,...,0,1,0,1,0,0,0,0,0,1
3,0,0,0,0,0.619718,0,0,1,0,1,...,0,1,0,0,1,0,1,0,0,0
4,1,0,0,0,0.014085,1,0,0,0,0,...,0,0,1,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,0,1,1,0.323944,1,1,1,0,1,...,0,1,0,0,1,0,0,0,0,1
7039,1,0,1,1,1.000000,1,1,0,1,1,...,0,0,1,0,1,0,0,1,0,0
7040,1,0,1,1,0.140845,0,0,1,0,0,...,0,1,0,1,0,0,0,0,1,0
7041,0,1,1,0,0.042254,1,1,0,0,0,...,0,0,1,1,0,0,0,0,0,1
7042,0,0,0,0,0.915493,1,0,1,0,1,...,0,0,1,0,0,1,1,0,0,0

In [60]:
from sklearn.model_selection import train_test_split

In [78]:
X = df2.drop("Churn", axis = "columns")
y = df2["Churn"]

In [79]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2,random_state = 5)

In [80]:
(X_train.shape)

(5625, 26)

In [101]:
#Model Training!


model = keras.Sequential([
    keras.layers.Dense(20, input_shape = (26,), activation = 'relu'),

    keras.layers.Dense(1, activation = "sigmoid"),

])

In [102]:
model.compile(
    optimizer = 'adam',
    loss = 'binary_crossentropy',
    metrics = ['accuracy']
)

In [103]:
model.fit(X_train, y_train, epochs = 100)

Epoch 1/100
176/176 [==============================] - 1s 2ms/step - loss: 0.5228 - accuracy: 0.7490
Epoch 2/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4338 - accuracy: 0.7943
Epoch 3/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4211 - accuracy: 0.8018
Epoch 4/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4173 - accuracy: 0.8048
Epoch 5/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4157 - accuracy: 0.8052
Epoch 6/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4142 - accuracy: 0.8059
Epoch 7/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4127 - accuracy: 0.8084
Epoch 8/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4116 - accuracy: 0.8078
Epoch 9/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4111 - accuracy: 0.8087
Epoch 10/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4106 - accuracy: 0.8082
Epoch 11/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4094 - accuracy: 0.8103
Epoch 12/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4086 - accuracy: 0.8100
Epoch 13/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4073 - accuracy: 0.8108
Epoch 14/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4070 - accuracy: 0.8094
Epoch 15/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4063 - accuracy: 0.8100
Epoch 16/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4056 - accuracy: 0.8105
Epoch 17/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4051 - accuracy: 0.8100
Epoch 18/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4046 - accuracy: 0.8107
Epoch 19/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4038 - accuracy: 0.8107
Epoch 20/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4031 - accuracy: 0.8103
Epoch 21/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4021 - accuracy: 0.8114
Epoch 22/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4016 - accuracy: 0.8130
Epoch 23/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4009 - accuracy: 0.8135
Epoch 24/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4005 - accuracy: 0.8114
Epoch 25/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3997 - accuracy: 0.8137
Epoch 26/100
176/176 [==============================] - 0s 3ms/step - loss: 0.3989 - accuracy: 0.8140
Epoch 27/100
176/176 [==============================] - 1s 4ms/step - loss: 0.3987 - accuracy: 0.8139
Epoch 28/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3992 - accuracy: 0.8137
Epoch 29/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3977 - accuracy: 0.8139
Epoch 30/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3974 - accuracy: 0.8153
Epoch 31/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3972 - accuracy: 0.8162
Epoch 32/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3966 - accuracy: 0.8149
Epoch 33/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3958 - accuracy: 0.8142
Epoch 34/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3954 - accuracy: 0.8132
Epoch 35/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3945 - accuracy: 0.8130
Epoch 36/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3942 - accuracy: 0.8176
Epoch 37/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3942 - accuracy: 0.8155
Epoch 38/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3933 - accuracy: 0.8165
Epoch 39/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3941 - accuracy: 0.8160
Epoch 40/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3935 - accuracy: 0.8155
Epoch 41/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3924 - accuracy: 0.8160
Epoch 42/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3925 - accuracy: 0.8149
Epoch 43/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3917 - accuracy: 0.8156
Epoch 44/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3916 - accuracy: 0.8160
Epoch 45/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3910 - accuracy: 0.8149
Epoch 46/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3909 - accuracy: 0.8153
Epoch 47/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3907 - accuracy: 0.8165
Epoch 48/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3892 - accuracy: 0.8181
Epoch 49/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3903 - accuracy: 0.8155
Epoch 50/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3897 - accuracy: 0.8155
Epoch 51/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3896 - accuracy: 0.8174
Epoch 52/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3893 - accuracy: 0.8172
Epoch 53/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3890 - accuracy: 0.8178
Epoch 54/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3881 - accuracy: 0.8183
Epoch 55/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3887 - accuracy: 0.8187
Epoch 56/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3881 - accuracy: 0.8178
Epoch 57/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3880 - accuracy: 0.8178
Epoch 58/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3878 - accuracy: 0.8181
Epoch 59/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3870 - accuracy: 0.8180
Epoch 60/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3869 - accuracy: 0.8197
Epoch 61/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3871 - accuracy: 0.8160
Epoch 62/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3867 - accuracy: 0.8183
Epoch 63/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3859 - accuracy: 0.8174
Epoch 64/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3863 - accuracy: 0.8190
Epoch 65/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3861 - accuracy: 0.8171
Epoch 66/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3857 - accuracy: 0.8190
Epoch 67/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3855 - accuracy: 0.8180
Epoch 68/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3856 - accuracy: 0.8183
Epoch 69/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3848 - accuracy: 0.8203
Epoch 70/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3849 - accuracy: 0.8197
Epoch 71/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3845 - accuracy: 0.8215
Epoch 72/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3845 - accuracy: 0.8192
Epoch 73/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3846 - accuracy: 0.8176
Epoch 74/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3846 - accuracy: 0.8196
Epoch 75/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3842 - accuracy: 0.8201
Epoch 76/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3843 - accuracy: 0.8192
Epoch 77/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3834 - accuracy: 0.8176
Epoch 78/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3841 - accuracy: 0.8196
Epoch 79/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3844 - accuracy: 0.8208
Epoch 80/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3832 - accuracy: 0.8204
Epoch 81/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3835 - accuracy: 0.8167
Epoch 82/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3828 - accuracy: 0.8201
Epoch 83/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3828 - accuracy: 0.8222
Epoch 84/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3829 - accuracy: 0.8187
Epoch 85/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3818 - accuracy: 0.8201
Epoch 86/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3823 - accuracy: 0.8187
Epoch 87/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3820 - accuracy: 0.8222
Epoch 88/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3823 - accuracy: 0.8201
Epoch 89/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3821 - accuracy: 0.8213
Epoch 90/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3819 - accuracy: 0.8201
Epoch 91/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3830 - accuracy: 0.8212
Epoch 92/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3825 - accuracy: 0.8203
Epoch 93/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3811 - accuracy: 0.8222
Epoch 94/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3816 - accuracy: 0.8194
Epoch 95/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3815 - accuracy: 0.8204
Epoch 96/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3815 - accuracy: 0.8212
Epoch 97/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3811 - accuracy: 0.8203
Epoch 98/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3811 - accuracy: 0.8215
Epoch 99/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3809 - accuracy: 0.8206
Epoch 100/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3807 - accuracy: 0.8215

In [108]:
yp = model.predict(X_test)

y_test[:5]

44/44 [==============================] - 0s 1ms/step

2660    0
744     0
5579    1
64      1
3287    1
Name: Churn, dtype: int64

In [105]:
yp[:5]

array([[0.28291103],
       [0.39687297],
       [0.01338888],
       [0.8487598 ],
       [0.559038  ]], dtype=float32)